{{!--
Layout:
HERO --> Name with type effect, background will be my graduation image
ABOUT --> Quick description
SKILL --> List of my top skills
PROJECTS --> All of my projects
--}}
<link rel="stylesheet" href="/css/homepage.css">
<section id="hero-container-section">
    <div id="hero-container" class="typewriter">
        <h1>Felix Cagatin. Web Developer.</h1>
    </div>
</section>
<section id="home-about-section">
    <div class="container">
        <h2 class="pt-5 text-center section-title" id="about-title">About Me</h2>
    </div>
</section>
<section id="home-skills-section">
    <div class="container">
        <h2 class="pt-5 text-center section-title" id="skills-title">Skills</h2>
        <div id="skills-icon-wrapper" class="d-flex flex-column">
            <div id="languages-skill-container" class="skills-sub-container">
                <h3 class="text-center skill-section-title">Languages</h3>
                <div class="skills-icons d-flex justify-content-center">
                    <img src="https://user-images.githubusercontent.com/25181517/117447155-6a868a00-af3d-11eb-9cfe-245df15c9f3f.png"
                        alt="">
                    <img src="https://user-images.githubusercontent.com/25181517/183423507-c056a6f9-1ba8-4312-a350-19bcbc5a8697.png"
                        alt="">
                    <img src="https://user-images.githubusercontent.com/25181517/117201156-9a724800-adec-11eb-9a9d-3cd0f67da4bc.png"
                        alt="">
                    <img src="https://user-images.githubusercontent.com/25181517/117447535-f00a3a00-af3d-11eb-89bf-45aaf56dbaf1.png"
                        alt="">
                    <img src="	https://user-images.githubusercontent.com/25181517/183898674-75a4a1b1-f960-4ea9-abcb-637170a00a75.png"
                        alt="">
                </div>
            </div>
            <div id="web-dev-skills-container" class="skills-sub-container">
                <h3 class="text-center skill-section-title">Web Development</h3>
                <div class="skills-icons d-flex justify-content-center">
                    <img src="https://user-images.githubusercontent.com/25181517/183898054-b3d693d4-dafb-4808-a509-bab54cf5de34.png"
                        alt="">
                    <img src="https://user-images.githubusercontent.com/25181517/183897015-94a058a6-b86e-4e42-a37f-bf92061753e5.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home-projects-section">
    <div class="container">
        <h2 class="pt-5 text-center section-title" id="projects-title">Projects</h2>
        <img src="" alt="">
    </div>
</section>