{{!--
Layout:
HERO --> Name with type effect, background will be my graduation image
ABOUT --> Quick description
SKILL --> List of my top skills
PROJECTS --> All of my projects
--}}
<link rel="stylesheet" href="/css/homepage.css">
<section id="hero-container-section">
    <div id="hero-container" class="typewriter">
        <h1>Felix Cagatin. Web Developer.</h1>
    </div>
</section>